.MxSys {
	background-color: #fff;
}

.MxSys .grid {
	cursor: pointer;
	background-color: #000;
	color: #000;
	border: 1px solid #f00;
}

.MxSys .alive {
	color : #fff;
}

.MxSys .dead {
	color : #000;
}
